<footer class="fixed-bottom text-small text-white bg-dark">
    <div class="container pt-3 pb-3">
        <p class="p-0 m-0">Copyright <small>&copy;</small> 2022 Misplaced Ltd. All rights reserved.</p>
    </div>
</footer>