<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand" href="/">
                <img src="/image/Logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home 
                        </a>
                    </li>
                    {{#if user}}
                    <li class="nav-item {{#isHome currentpage "home"}}active{{/isHome}}">
                        <a class="nav-link" href="/">
                            Home {{#isHome currentpage "home"}}<span>(current)</span>{{/isHome}}
                        </a>
                    </li>
                    <li class="nav-item {{#isHome currentpage "lost"}}active{{/isHome}}">
                        <a class="nav-link" href="/report/lost">
                            Report Lost {{#isHome currentpage "lost"}}<span>(current)</span>{{/isHome}}
                        </a>
                    </li>
                    <li class="nav-item {{#isHome currentpage "found"}}active{{/isHome}}">
                        <a class="nav-link" href="/report/found">
                            Claim Item {{#isHome currentpage "found"}}<span>(current)</span>{{/isHome}}
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>