<h1 class="display-4 mt-4">About Us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id neque porta, ultricies metus vel, hendrerit dui.
    Mauris non odio vestibulum, suscipit velit eleifend, tempor nisl. Donec luctus sit amet lacus quis facilisis. Morbi
    eu nibh non magna cursus ornare. Fusce sit amet lectus orci. Pellentesque finibus faucibus commodo. Quisque rhoncus,
    eros vitae egestas vulputate, tortor libero tempus ante, ac scelerisque tortor enim vel libero. Pellentesque
    sagittis turpis sit amet tortor pulvinar, sed ullamcorper diam sollicitudin. Etiam ornare volutpat felis, quis
    tempus diam mollis euismod. Ut sit amet ipsum non metus interdum tincidunt eget vitae magna. Nulla justo lectus,
    consequat at dolor ac, dapibus vehicula nibh. Proin porta erat leo, vitae semper velit vehicula commodo.
    <br/><br/>
    Fusce nec justo massa. Phasellus porta faucibus tellus eu convallis. Ut pellentesque viverra risus eu feugiat. Fusce
    consequat pharetra felis, nec bibendum risus tempor nec. Nullam nec justo vel sapien placerat finibus eget non elit.
    Fusce eu lobortis felis, quis tristique metus. Integer eu porta orci. Curabitur in iaculis sapien, non hendrerit
    nisi. Suspendisse laoreet odio sit amet massa tristique, in euismod tellus sodales.</p>
<h1 class="display-4 mt-4">Locate Us</h1>
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6612608655987!2d103.84624871457255!3d1.3799056989936032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da17f35137b053%3A0x3a1c1f83a516b0ff!2sNYP%20Block%20A%20-%20Campus%20Centre%20Entrance!5e0!3m2!1sen!2ssg!4v1645337802993!5m2!1sen!2ssg"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card h-100">
            <div class="card-header">
                <h1 class="display-6">Contact Information</h1>
            </div>
            <div class="card-body">
                <div>
                    <h6>Lost &amp; Found Location:</h6>
                    <a href="https://goo.gl/maps/NLv3yT7kJxEnabWUA" class="text-muted">180 Ang Mo Kio Ave 8, Singapore
                        569830</a>
                </div>

                <div class="mt-3">
                    <h6>Phone Number:</h6>
                    <a href="tel:+6564515115" class="text-muted">+65 6451 5115</a>
                </div>

                <div class="mt-3">
                    <h6>School Email:</h6>
                    <a href="mailto:askNYP@nyp.edu.sg" class="text-muted">askNYP@nyp.edu.sg</a>
                </div>

                <div class="mt-3">
                    <h6 class="text-warning">Note**</h6>
                    <p>Due to Covid-19 measures, we ensure all items kept in our lost &amp; found storage is santise
                        regularly. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id neque porta,
                        ultricies metus vel, hendrerit dui.</p>
                </div>
            </div>
        </div>
    </div>
</div>